<div class="gallery">
    <div class="container">
        <div class="gallery__choose">
            <div class="choose__item">Онлайн</div>
            <div class="choose__item" checking>Новые</div>
            <div class="choose__item">Популярные</div>
        </div>
        <div class="gallery__block">
            <div class="gallery__block--row">
                <div class="group">

                    <div class="gallery__card" online>
                        <div class="gallery__card--img gallery__card--img11">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">12</div>
                            </div>
                            <div class="gallery__card--top">топ</div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Кристиночка, 28 <span class="online"></span></div>
                            <div class="card__title--location">Санкт-Петербург, Россия</div>
                        </div>
                    </div>
                    <div class="gallery__card" online>
                        <div class="gallery__card--img gallery__card--img12">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">3</div>
                            </div>
                            <div class="gallery__card--top">топ</div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Диана, 20 <span class="online"></span></div>
                            <div class="card__title--location">Самара, Россия</div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="gallery__card" online>
                        <div class="gallery__card--img gallery__card--img13">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">145</div>
                            </div>
                            <div class="gallery__card--top">топ</div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Аня, 18 <span class="online"></span></div>
                            <div class="card__title--location">Ростов-на-Дону, Россия</div>
                        </div>
                    </div>
                    <div class="gallery__card">
                        <div class="gallery__card--img gallery__card--img14">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">17</div>
                            </div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Анжелика, 27 <span class="online"></span></div>
                            <div class="card__title--location">Чебоксары, Россия</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__block--row">
                <div class="group">

                    <div class="gallery__card" online>
                        <div class="gallery__card--img gallery__card--img21">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">12</div>
                            </div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Лариса, 32 <span class="online"></span></div>
                            <div class="card__title--location">Москва, Россия</div>
                        </div>
                    </div>
                    <div class="gallery__card">
                        <div class="gallery__card--img gallery__card--img22">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">3</div>
                            </div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Настя, 21 <span class="online"></span></div>
                            <div class="card__title--location">Зеленоград, Россия</div>
                        </div>
                    </div>
                </div>
                <div class="group">

                    <div class="gallery__card">
                        <div class="gallery__card--img gallery__card--img23">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">4</div>
                            </div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Евгения, 30 <span class="online"></span></div>
                            <div class="card__title--location">Ростов-на-Дону, Россия</div>
                        </div>
                    </div>
                    <div class="gallery__card">
                        <div class="gallery__card--img gallery__card--img24">
                            <div class="gallery__card--photos">
                                <div class="card__photos--icon"></div>
                                <div class="card__photos--quanity">28</div>
                            </div>
                            <div class="gallery__card--buttons">
                                <div class="card__button--item card__button--favorite">
                                    <div class="button__favorite--icon"></div>
                                    <div class="button__favorite--text">Избранное</div>
                                </div>
                                <div class="card__button--item card__button--write">
                                    <div class="button__write--icon"></div>
                                    <div class="button__write--text">Написать</div>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__card--title">
                            <div class="card__title--name">Ольга, 25 <span class="online"></span></div>
                            <div class="card__title--location">Казань, Россия</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination__block">

        </div>
    </div>
</div>