<header>
    <div class="container">
        <div class="header__logo"></div>
        <nav>
            <ul class="header__navbar">
                <li class="navbar__item"><a href="#" class="navbar__link">Поиск</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Мои переписки</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Избранное</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Кто смотрел</a></li>
            </ul>
        </nav>
        <div class="header__info">
            <div class="header__status">
                <div class="header__status--text">Премиум</div>
                <div class="header__status--icon"></div>
            </div>
            <div class="header__balance">100 кредитов</div>
            <div class="header__avatar"></div>
            <div class="header__arrow"></div>
        </div>
    </div>
</header>