footer {
    width: 100%;
    height: 150px;
    padding-top: 30px;
    color: #777777;
    font-size: 12px;
    letter-spacing: 0.6px;
    @include respond-to(small) {
        padding-top: 20px;
    }
}
.footer__nav {
    display: flex;
    height: 30px;
    align-items: center;
    margin-bottom: 14px;
    letter-spacing: 0.7px;
    @include respond-to(small) {
        flex-wrap: wrap;
    }
}
.footer__nav--item {
    font-size: 14px;
    margin-right: 50px;
    @include respond-to(mobile) {
        font-size: 12px;
        margin-right: 10px;
    }
    @include respond-to(small) {
        font-size: 12px;
        margin-right: 20px;
        line-height: 20px;
    }
}
.footer__copyright,
.footer__warning {
    line-height: 20px;
    @include respond-to(mobile) {
        font-size: 10px;
        line-height: 17px;
    }
    @include respond-to(small) {
        font-size: 10px;
        line-height: 17px;
    }
}