.gallery {
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 60px;
}
.gallery__choose {
    height: 33px;
    width: 411px;
    display: flex;
    border: 1px solid #366CF7;
    border-radius: 5px;
    margin-bottom: 27px;
    @include respond-to(tablet) {
        height: 25px;
        width: 312px;
        margin-bottom: 20px;
        margin-left: 37px;
    }
    @include respond-to(mobile) {
        height: 25px;
        width: 100%;
        margin-bottom: 20px;
    }
    @include respond-to(small) {
        height: 25px;
        width: 100%;
        margin-bottom: 20px;
    }
}
.choose__item {
    padding-top: 2px;
    height: 100%;
    width: 137px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    color: #366CF7;
    letter-spacing: 0.8px;
    &:hover {
        cursor: pointer;
    }
    &[checking] {
        background-color: #366CF7;
        color: #fff;
    }
    @include respond-to(tablet) {
        padding-top: 1px;
        font-size: 12px;
    }
    @include respond-to(mobile) {
        padding-top: 1px;
        font-size: 12px;
        width: 33.3%;
    }
    @include respond-to(small) {
        padding-top: 1px;
        font-size: 12px;
        width: 33.3%;
    }
}
.gallery__block {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}
.gallery__block--row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    &:last-child {
        margin-bottom: 0;
    }
    @include respond-to(tablet) {
        flex-direction: column;
    }
    @include respond-to(mobile) {
        flex-direction: column;
        margin-bottom: 10px;
    }
    @include respond-to(small) {
        flex-direction: column;
        margin-bottom: 10px;
    }
}
.group {
    display: flex;
    justify-content: space-between;
    width: 574px;
    @include respond-to(desktop) {
        width: 474px;
    }
    @include respond-to(tablet) {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 27px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include respond-to(mobile) {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    @include respond-to(small) {
        width: 100%;
        margin-bottom: 0px;
        flex-direction: column;
    }
}
.gallery__card {
    width: 272px;
    height: 343px;
    box-shadow: (0px 1px 3px 0px rgba(0, 0, 0, .25));
    background-color: #fff;
    border-radius: 8px;
    &:hover {
        cursor: pointer;
        box-shadow: (0px 2px 3px 2px rgba(0, 0, 0, .25));
    }
    &:hover .gallery__card--buttons {
        display: flex;
    }
    @include respond-to(desktop) {
        width: 232px;
        height: 303px;
    }
    @include respond-to(tablet) {
        width: 312px;
        height: 383px;
    }
    @include respond-to(mobile) {
        width: 225px;
        height: 296px;
    }
    @include respond-to(small) {
        width: 310px;
        height: 381px;
        margin-bottom: 10px;
    }
}
.gallery__card--img {
    @include square(272px);
    padding-top: 20px;
    position: relative;
    @include respond-to(desktop) {
        @include square(232px);
    }
    @include respond-to(tablet) {
        @include square(312px);
    }
    @include respond-to(mobile) {
        @include square(225px);
    }
    @include respond-to(small) {
        @include square(310px);
    }
}
.gallery__card--img11 {
    @include background-img('../img/lg-photo1.png')
}
.gallery__card--img12 {
    @include background-img('../img/lg-photo2.png')
}
.gallery__card--img13 {
    @include background-img('../img/lg-photo3.png')
}
.gallery__card--img14 {
    @include background-img('../img/lg-photo4.png')
}
.gallery__card--img21 {
    @include background-img('../img/lg-photo5.png')
}
.gallery__card--img22 {
    @include background-img('../img/lg-photo6.png')
}
.gallery__card--img23 {
    @include background-img('../img/lg-photo7.png')
}
.gallery__card--img24 {
    @include background-img('../img/lg-photo8.png')
}
.gallery__card--photos {
    // width: 65px;
    height: 33px;
    background-color: rgba(0,0,0, .3);
    border-radius: 5px;
    margin-left: 14px;
    display: inline-flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 10px;
    @include respond-to(mobile) {
        height: 26px;
        margin-left: 10px;
        padding-right: 10px;
    }
}
.card__photos--icon {
    width: 21px;
    height: 17px;
    @include background-img('../img/camera-icon.svg');
    margin-right: 6px;
    @include respond-to(mobile) {
        width: 17px;
        height: 14px;
    }
}
.card__photos--quanity {
    color: #fff;
    font-size: 14px;
    padding-top: 3px;
    @include respond-to(mobile) {
        font-size: 12px;
        padding-top: 2px;
    }
}
.gallery__card--top {
    height: 33px;
    width: 53px;
    background-color: #FF1E6C;
    border-radius: 5px;
    display: inline-flex;
    text-transform: uppercase;
    color: #fff;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 18px;
    @include respond-to(mobile) {
        height: 26px;
        margin-right: 10px;
        width: 43px;
        font-size: 14px;
    }
}
.gallery__card--buttons {
    height: 43px;
    width: 100%;
    background: linear-gradient(45deg, #4E92FF, #376CF8);
    position: absolute;
    bottom: 0;
    display: none;
    @include respond-to(tablet) {
        display: flex;
    }
    @include respond-to(mobile) {
        display: flex;
    }
    @include respond-to(small) {
        display: flex;
    }
}
.card__button--item {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    @include respond-to(mobile) {
        font-size: 12px;
    }
    &:hover >.button__favorite--icon {
        @include background-img('../img/star-active.png');
    }
    &:hover {
        cursor: pointer;
    }
}
.card__button--favorite {
    border-right: 1px solid rgba(255,255,255, .3);
}
.button__favorite--icon {
    width: 19px;
    height: 18px;
    @include background-img('../img/star.svg');
    margin-left: 16px;
    margin-right: 9px;
    @include respond-to(desktop) {
        margin-left: 10px;
    }
    @include respond-to(mobile) {
        margin-left: 13px;
    }
}
.button__write--icon {
    width: 20px;
    height: 15px;
    @include background-img('../img/letter-icon.svg');
    margin-left: 18px;
    margin-right: 9px;
    @include respond-to(desktop) {
        margin-left: 10px;
    }
    @include respond-to(mobile) {
        margin-left: 13px;
    }
}
.gallery__card--title {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 13px;
}
.card__title--name {
    color: #366CF7;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 20px;
    @include respond-to(mobile) {
        font-size: 16px;
    }
}
.card__title--location {
    font-size: 14px;
    margin-top: 3px;
    @include respond-to(mobile) {
        font-size: 12px;
    }
}
.online {
    display: inline-block;
    border-radius: 50%;
    @include square(13px);
    float: right;
    margin-right: 20px;
    @include respond-to(mobile) {
        @include square(11px);
    }
}
[online] .online {
    background-color: #01F501;
}
.pagination__block {
    height: 43px;
    width: 313px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    @include respond-to(small) {
        width: 100%;
    }

}